<div class="row">
    <div class="col-sm-4" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Översikt</h3>
            </div>
            <div class="panel-body">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
                    <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'">
                    </ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    <div class="col-sm-4" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{place}}</h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="file in mediaFiles" class="col-lg-3 col-md-4 col-sm-4 col-xs-3">
                    <a ng-if="file.exist" ng-href ng-click="thumbnailClick(file.filename)" class="thumbnail"> 
                        <img ng-src={{file.thumbnail}} alt="Brantaväggen" >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Klippa: {{crag}}</h3>
            </div>
            <div class="panel-body">
                <h3>Beskrivning</h3>
                <span>{{description}}</span>
                <h3>Översikt</h3>
                <h3>Leder/Problem</h3>            
                <accordion>
                    <accordion-group ng-repeat="wayup in waysup" is-open="status.open">
                        <accordion-heading>
                            <div class="row">
                                <div class="col-xs-10" >
                                    <span>{{wayup.name}}</span>
                                    <span class="pull-right badge">{{wayup.grade}}</span>
                                </div>
                                <div class="col-xs-2" >
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </div>
                            </div>                                
                        </accordion-heading>
                        <span ng-if="wayup.length">Höjd: {{wayup.length}} meter </span>
                        FA: bestigare, datum <br/>
                        {{wayup.description}}<br/>
                        <button type="button" class="btn btn-link btn-sm" >
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"> </span>
                        </button>
                        <button type="button" class="btn btn-link btn-sm" >
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"> </span>
                        </button>
                        <button type="button" class="btn btn-link btn-sm" >
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"> </span>
                        </button>
                    </accordion-group>
                </accordion>
                <button type="button" class="btn btn-link" ng-click="newRouteClick()">
                    <span class="glyphicon glyphicon-plus-sign"></span> Ny led/problem
                </button>                        
            </div>
        </div>
    </div>
</div>        
